<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <title>{% if is_home %} {{ site.author }} {% elif is_post %} {{ post.title }} {% elif is_link %} {{ link.title }} {% elif is_tag %} {{ tag }} {% elif is_page %} {{ page.title }} {% endif %} | {{ site.name }}</title>

    {{ header_meta }}

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="{{ static('fonts/symbolset/ss-social-circle.css') }}">
    <link href="{{ assets('css/timeline.css') }}" rel="stylesheet" />
    <link rel="SHORTCUT ICON" href="http://s22.postimg.org/rmuwpc8cd/favicon.png"/>
    <link rel="stylesheet prefetch" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"/>
    <link rel="stylesheet prefetch" href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css"/>

    <!-- standard google analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-65741614-1', 'auto');
    ga('send', 'pageview');

    </script>

    <!--
    <style>
        /**
         * Your custom override CSS goes here. If you wanted to override the default link colour and hover state, you would do this:
         *
         *  a {
         *      color: #333; /* Override the default colour with a not-quite-black that is easy on the eyes on white screens */
         *  }
         *
         *  a:hover {
         *      color: #545454; /* This will now change the hover state as well */
         *  }
         *
         *  You can put anything you want to override in here, so be creative!
         */
    </style>
    -->
</head>
<body>

  {% if is_login %}

    {{ login_form }}

  {% else %}

    <div class="container">
        <header>
            <div class="logo-nav">
                <h1><a href="/">{{ site.name }}</a></h1>
                <nav role="navigation" id="nav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        {% if pages %}
                        {% for page in pages %}
                        <li><a href="{{ page.permalink }}">{{ page.title }}</a></li>
                        {% endfor %}
                        {% endif %}

                    </ul>
                </nav>
            </div>
            <div class="social-icons">
                {% if site.twitter %}<a href="{{ site.twitter }}" title="Twitter" target="_blank" class="ss-icon">twitter</a>{% endif %}
                {% if site.facebook %}<a href="{{ site.facebook }}" title="Facebook" target="_blank" class="ss-icon">facebook</a>{% endif %}
                {% if site.googleplus %}<a href="{{ site.googleplus }}?rel=author?rel=author" rel="author" title="Google+" target="_blank" class="ss-icon">googleplus</a>{% endif %}
                {% if site.linkedin %}<a href="{{ site.linkedin }}" title="Linkedin" target="_blank" class="ss-icon">linkedin</a>{% endif %}
                <a href="#" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a>
                <a href="#" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a>
                <a href="{{ site.atom_url }}" title="RSS" target="_blank" class="ss-icon">rss</a>
            </div>
        </header>
        <div role="main" class="main">
            {% if is_home or is_tag %}
            {% if is_tag %}
            <h2>Tag: {{ tag }}</h2>
            {% endif %}
            <ul class="timeline">
                {% if posts %}
                {% for post in posts %}
                <li>
                    <article itemscope itemtype="http://schema.org/Article">
                        <time class="time" datetime="{{ post.created_at }}"><span>Published by {{ site.author }}</span> <span>{{ post.created_at|format_date }}</span></time>
                        <div class="bubble"></div>
                        <div class="label">
                            <div class="post-header">
                                {% if post.photos %}
                                {% for photo in post.photos %}
                                {% if photo and loop.index == 1 %}
                                <div class="image">
                                    <a href="{{ post.permalink }}">
                                        <img src="{{ photo.square_75 }}" alt="Featured Photo" />
                                    </a>
                                </div>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                                <h2><a class="post-header-title" href="{{ post.permalink }}">{{ post.title }}</a></h2>
                            </div>
                            <div class="post-content">
                                {{ post.content }}
                                <a href="{{ post.permalink }}">Read More</a>
                                {% if post.tags %}
                                <div class="tags">
                                    <h4>Tags</h4>
                                    {{ post.tags|format_tags(delimiter=' ') }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </article>
                </li>
                {% endfor %}
                {% else %}
                <li>
                    <p class="no-posts"><em>Timeline empty :(</em></p>
                </li>
                {% endif %}
            </ul>
            <div class="pagination">
                {% if pagination.prev %}<a href="{{ pagination.prev }}" class="post-prev">&larr; View Previous Posts</a>{% endif %}
                {% if pagination.next %}<a href="{{ pagination.next }}" class="post-next">View More Posts &rarr;</a>{% endif %}
            </div>
            {% elif is_post %}
            <article itemscope itemtype="http://schema.org/Article" class="post">
                <img class="profile-img" src="https://en.gravatar.com/userimage/92054765/14c31c09525357178da3cff4be5dac07.jpg?size=200">
                <time class="time" datetime="{{ post.created_at }}"><span>Published by {{ site.author }}</span> <span>{{ post.created_at|format_date }}</span></time>
                <section class="content">
                    <header>
                        <h2>{{ post.title }}</h2>
                    </header>
                    <div class="post-content">
                        {{ post.content }}
                        {% if post.tags %}
                        <div class="tags">
                            <h4>Tags</h4>
                            {{ post.tags|format_tags(delimiter=' ') }}
                        </div>
                        {% endif %}
                    </div>
                    {% if site.disqus %}
                    <hr />
                    <section class="comments">
                        <div id="disqus_thread"></div>
                        <script type="text/javascript">
                        var disqus_shortname = '{{ site.disqus }}';
                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                        </script>
                        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                    </section>
                    {% endif %}
                </section>
            </article>
            {% elif is_link %}
            <article itemscope itemtype="http://schema.org/Article" class="post">
                <time class="time" datetime="{{ link.created_at }}"><span>Published by {{ site.author }}</span> <span>{{ link.created_at|format_date }}</span></time>
                <section class="content">
                    <header>
                        <h2>{{ link.title }}</h2>
                    </header>
                    <div class="post-content">
                        {{ link.content }}
                        <p class="link-url"><i class="icon-share"></i> <a href="{{ link.url }}">{{ link.url }}</a></p>
                        {% if link.tags %}
                        <div class="tags">
                            <h4>Tags</h4>
                            {{ link.tags|format_tags(delimiter=' ') }}
                        </div>
                        {% endif %}
                    </div>
                    {% if site.disqus %}
                    <hr />
                    <section class="comments">
                        <div id="disqus_thread"></div>
                        <script type="text/javascript">
                        var disqus_shortname = '{{ site.disqus }}';
                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                        </script>
                        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                    </section>
                    {% endif %}
                </section>
            </article>
            {% elif is_page %}
            <article class="post">
                <section class="content">
                    <header>
                        <h1>{{ page.title }}</h1>
                    </header>
                    <div class="post-content">
                        {{ page.content }}
                    </div>
                </section>
            </article>
            {% endif %}
        </div>
        <footer>
            <p class="left">All rights Reserved &copy; <a href="/">{{ site.name }}</a></p>
        </footer>
    </div>

  {% endif %}

  {{ footer_meta }}

  {% if is_post %}
  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <!-- Web Share -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55c23a8d3879be3a" async="async"></script>
  <!-- Mobile Share -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55c23a8d3879be3a" async="async"></script>

  {% endif %}
  <script type="text/javascript" src="{{ static('fonts/symbolset/ss-social.js') }}" /></script>
  <script src="{{ assets('js/modernizr.custom.js') }}"></script>
  <script src="{{ assets('js/main.min.js') }}"></script>
  <script src="{{ assets('js/timeline.min.js') }}"></script>

</body>
</html>
