@charset "utf-8";
/*------------------------------------*\
$RESET
\*------------------------------------*/
/* A more considered reset; more of a restart... As per: csswizardry.com/2011/10/reset-restarted */
div.bio{
  font: 12px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  max-width: 960px;
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 30px;
  color: #95a4a9;
  abbr[title], dfn[title] {
  cursor: help;
  border-bottom: 1px dotted;
  }
  img {
  border: none;
  font-style: italic;
  }
  /*------------------------------------*\
  $MAIN
  \*------------------------------------*/

  .avatar {
  float: left;
  margin: 0 40px 20px 0;
  }
  .avatar img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 125px;
  }

  .title {
    font-size: 48px;
    font-weight: normal;
    line-height: 1;
  }

  .social-icons li {
    display: inline;
  }
  .social-icons a {
    display: inline-block;
    margin-right: 10px;
    text-indent: -9999px;
  }
  .twitter {
    background-image: url(../images/twitter.png);
    width: 20px;
    height: 17px;
  }
  .facebook {
    background-image: url(../images/facebook.png);
    width: 10px;
    height: 19px;
  }
  .instagram {
    background-image: url(../img/instagram.png);
    width: 20px;
    height: 19px;
  }



  /*------------------------------------*\
  $TYPOGRAPHY
  \*------------------------------------*/
  p,
  ul, ol, dl,
  .title {
    margin-bottom: 20px;
  }
  p {
    font-weight: bold;
  }
  ul, ol, dl {
    list-style-type: none;
  }
  a {
    color: #339999;
    font-weight: bold;
  }
  a:hover, a:focus {
    color: #95a4a9;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    transition: color 0.2s ease;
  }





  /*------------------------------------*\
  $MISC
  \*------------------------------------*/
  a img:hover,
  .social-icons a:hover {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    filter: alpha(opacity=85);
    opacity: 0.85;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
  }

  /*------------------------------------*\
  $MOBILE
  \*------------------------------------*/
  @media handheld, only screen and (max-width: 720px) {
    .avatar,
    .content {
      float: none;
    }

    .avatar img {
      max-width: 125px;
      max-height: 125px;
    }

    .content {
      width: 100%;
    }
  }
}
