@charset "utf-8";
/*------------------------------------*\
$RESET
\*------------------------------------*/
/* A more considered reset; more of a restart... As per: csswizardry.com/2011/10/reset-restarted */
div.bio {
  font: 12px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*------------------------------------*\
  $MAIN
  \*------------------------------------*/
  /*------------------------------------*\
  $TYPOGRAPHY
  \*------------------------------------*/
  /*------------------------------------*\
  $MISC
  \*------------------------------------*/
  /*------------------------------------*\
  $MOBILE
  \*------------------------------------*/
}
div.bio abbr[title],
div.bio dfn[title] {
  cursor: help;
  border-bottom: 1px dotted;
}
div.bio img {
  border: none;
  font-style: italic;
}
div.bio .avatar {
  float: left;
  margin: 0 40px 20px 0;
}
div.bio .avatar img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 125px;
}
div.bio .title {
  font-size: 48px;
  font-weight: normal;
  line-height: 1;
}
div.bio .social-icons li {
  display: inline;
}
div.bio .social-icons a {
  display: inline-block;
  margin-right: 10px;
  text-indent: -9999px;
}
div.bio .twitter {
  background-image: url(../images/twitter.png);
  width: 20px;
  height: 17px;
}
div.bio .facebook {
  background-image: url(../images/facebook.png);
  width: 10px;
  height: 19px;
}
div.bio .instagram {
  background-image: url(../img/instagram.png);
  width: 20px;
  height: 19px;
}
div.bio p,
div.bio ul,
div.bio ol,
div.bio dl,
div.bio .title {
  margin-bottom: 20px;
}
div.bio p {
  font-weight: bold;
}
div.bio ul,
div.bio ol,
div.bio dl {
  list-style-type: none;
}
div.bio a {
  color: #339999;
  font-weight: bold;
}
div.bio a:hover,
div.bio a:focus {
  color: #95a4a9;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
div.bio a img:hover,
div.bio .social-icons a:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  filter: alpha(opacity=85);
  opacity: 0.85;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
@media handheld, only screen and (max-width: 720px) {
  div.bio .avatar,
  div.bio .content {
    float: none;
  }
  div.bio .avatar img {
    max-width: 125px;
    max-height: 125px;
  }
  div.bio .content {
    width: 100%;
  }
}
