.login {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: block;
    width: 100%;
    padding-top: 100px;
    background-color: transparent;
    form {
        background-color: #fff;
        padding: 40px;
        -ms-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        width: 380px;
        margin: 0 auto;
        div {
            padding-bottom: 7px;
        }
    }
    input {
        display: block;
        width: 100%;
        height: auto;
        font-size: 12pt;
        line-height: 12pt;
        padding: 7px;
    }
    input.input-password {
        margin: 0;
    }
    input.input-submit {
        color: #fff;
        border: 0;
        background-color: #2eb18d;
        border-radius: 5px;
    }
    label {
        font-weight: bold;
        font-size: 10pt;
        line-height: 10pt;
        padding-bottom: 7px;
    }
    p {
        padding-bottom: 20px;
        margin: 0;
    }
    p.login-copyright {
        padding-top: 20px;
        font-size: 9pt;
    }
    .login-error {
        display: block;
        background-color: #f76643;
        color: #fff;
        font-size: 10pt;
        line-height: 10pt;
        padding: 7px;
    }
}
