.login {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: block;
  width: 100%;
  padding-top: 100px;
  background-color: transparent;
}
.login form {
  background-color: #fff;
  padding: 40px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 380px;
  margin: 0 auto;
}
.login form div {
  padding-bottom: 7px;
}
.login input {
  display: block;
  width: 100%;
  height: auto;
  font-size: 12pt;
  line-height: 12pt;
  padding: 7px;
}
.login input.input-password {
  margin: 0;
}
.login input.input-submit {
  color: #fff;
  border: 0;
  background-color: #2eb18d;
  border-radius: 5px;
}
.login label {
  font-weight: bold;
  font-size: 10pt;
  line-height: 10pt;
  padding-bottom: 7px;
}
.login p {
  padding-bottom: 20px;
  margin: 0;
}
.login p.login-copyright {
  padding-top: 20px;
  font-size: 9pt;
}
.login .login-error {
  display: block;
  background-color: #f76643;
  color: #fff;
  font-size: 10pt;
  line-height: 10pt;
  padding: 7px;
}
