.socialMedia {
  float: right;
}
/* Wrapper */
.icon-button {
  background-color: white;
  border-radius: 62.4000015258789px;
  cursor: pointer;
  display: inline-block !important;
  font-size: 31.2000007629395px !important;
  height: 62.390625px !important;
  line-height: 62.4000015258789px !important;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 62.390625px !important;
}
/* Circle */
.icon-button span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 0;
}
.icon-button:hover span {
  width: 62.390625px;
  height: 62.390625px;
  border-radius: 62.4000015258789px;
  margin: -31.20000076px;
}
/* Icons */
.icon-button i {
  background: none;
  color: white;
  height: 62.390625px;
  left: 0;
  line-height: 62.4000015258789px;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 62.390625px;
  z-index: 10;
}
.twitter span {
  background-color: #4099ff;
}
.facebook span {
  background-color: #3B5998;
}
.google-plus span {
  background-color: #db5a3c;
}
.tumblr span {
  background-color: #34526f;
}
.instagram span {
  background-color: #517fa4;
}
.youtube span {
  background-color: #bb0000;
}
.pinterest span {
  background-color: #cb2027;
}
.rss span {
  background-color: #F60;
}
.icon-button .icon-twitter {
  color: #4099ff;
}
.icon-button .icon-facebook {
  color: #3B5998;
}
.icon-button .fa-tumblr {
  color: #34526f;
}
.icon-button .icon-google-plus {
  color: #db5a3c;
}
.icon-button .fa-instagram {
  color: #517fa4;
}
.icon-button .fa-youtube {
  color: #bb0000;
}
.icon-button .fa-pinterest {
  color: #cb2027;
}
.icon-button .icon-rss {
  color: #F60;
}
.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus,
.icon-button:hover .fa-tumblr,
.icon-button:hover .fa-instagram,
.icon-button:hover .fa-youtube,
.icon-button:hover .fa-pinterest,
.icon-button:hover .icon-rss {
  color: white;
}
@media all and (max-width: 680px) {
  .icon-button {
    border-radius: 1.6rem;
    font-size: 0.8rem;
    height: 1.6rem;
    line-height: 1.6rem;
    width: 1.6rem;
    position: relative;
    right: 15px;
  }
  .socialMedia {
    text-align: center;
    position: relative;
    left: 20px;
    float: none;
  }
  /* Icons */
  .icon-button i {
    height: 1.6rem;
  }
}
